@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@import "./styles/datepicker.css";
:root {
  /* Brand Colors */
  --color-primary: #007acc;
  --color-accent: #00aeef; /* Sky accent */
  --color-secondary: #889cc3; /* For text emphasis */
  --color-muted: #88888870;

  /* UI Backgrounds */
  --color-bg: #ffffff; /* Base background */
  --color-bg-secondary: #f9f9f9; /* Cards, sections */
  --color-bg-hover: #f2f2f2;
  --color-bg-footer: #0f172a; /* Dark footer */
  --color-overlay: #fafafa6f;
  /* Text */
  --color-text-primary: #1f2937; /* Almost black */
  --color-text-secondary: #4b5563; /* Subtle text */
  --color-text-on-primary: #ffffff;

  /* Alerts & States */
  --color-success: #10b981;
  --color-error: #ef4444;
  --color-warning: #f59e0b;
  --color-info: #3b82f6;

  /* Shadows */
  --shadow-primary: 0 0.5rem 2rem #0f172a25;
  --shadow-color: 0 0.5rem 1.5rem #00aaff67;

  /* Z-indexes */
  --z-header: 1000;
  --z-modal: 1100;
  --z-tooltip: 1200;

  /* Transitions */
  --transition-default: 0.3s ease-in-out;
}

.dark {
  /* Brand Colors */
  --color-primary: #00aaff; /* Soft but vibrant blue */
  --color-accent: #38cfff; /* Lighter accent for CTAs */
  --color-muted: #99999949; /* Softer muted tone for dark backgrounds */

  /* UI Backgrounds */
  --color-bg: #0f172a; /* Main dark background (deep navy) */
  --color-bg-secondary: #1e293b; /* Card or section backgrounds */
  --color-bg-hover: #334155; /* Subtle hover background */
  --color-bg-footer: #0a0f1c; /* Extra dark footer background */
  --color-overlay: #0b212f79;

  /* Text */
  --color-text-primary: #f1f5f9; /* Almost white */
  --color-text-secondary: #cbd5e1; /* Soft gray-blue for subtext */

  /* Alerts & States */
  --color-success: #34d399; /* Emerald-400 */
  --color-error: #f87171; /* Rose-400 */
  --color-warning: #fbbf24; /* Amber-400 */
  --color-info: #60a5fa; /* Blue-400 */

  /* shadows */
  --shadow-primary: 0 0.5rem 1.5rem #1047622a;
  --shadow-color: 0 0.5rem 1.5rem #00aaff29;
}
*,
::after,
::before {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  font-weight: bold;
  line-height: 1.25;
  color: var(--color-text-primary);
}
button,
a {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--transition-default);
  font-weight: 600;
}

a {
  text-decoration: none;
}
p {
  line-height: 1.5;
  color: var(--color-text-secondary);
}
li {
  list-style: none;
}
.nav-link::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 0.5px;
  width: 100%;
  height: 2px;
  background-color: var(--color-accent);
  transform: scaleX(0);
  transition: transform var(--transition-default);
}
.nav-link:hover::before {
  transform: scaleX(1);
}
input:focus,
input:active,
input:hover,
textarea:focus,
textarea:active,
textarea:hover {
  outline: none;
  border: 1px solid var(--color-accent);
  cursor: pointer;
  transition: var(--transition-default);
}
